*{
    padding: 0px;
    margin: 0px;
}

 body{
     margin: 3px;
     overflow-x: hidden;
     min-height: 100vh;
 }

.nav-barra{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #353739;
    width: 100%;
    height: 100px;
}

a{
    color: white !important;
}

#logo{
    width: auto;
    height: 85%;
    transform: rotate(720deg);
    transition: 1s;
}

.main{
    display: grid;
    grid-template-columns: 70% 30%;
    min-height: 80vh;
    min-width: 80vh;
    margin: -4px;
}

.marco{
    display: grid;
    grid-template-rows: 80% 20%;
    border: solid black 1px;
    margin: 1px;
}

#pantalla{
    display: grid;
    grid-template-columns: 35% 45% 20%;
    padding: 5px; 
    border: solid 0.5px black;
    background-color: #353739;
}

#codigo, #descripcion, #stock{
    background-color: white;
    border: black 1px solid;
    text-align: center;
}

.buscador{
    padding: 0px 5px 5px 5px;
    background-color: #353739;
}

.buscador #entrada_buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100%;
}

.buscador #entrada_buscador .btn{
    padding-right: 5px;
}

.buscador #entrada_buscador h5{
    padding: 5px;
}

.marco_dos{
    border: solid black 1px;
    margin: 1px;
    background-color: #353739;
}



footer{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #353739;
    color: white;
}

footer #img{
    position: relative;
    height: auto;
    width: 5%;

}